<%= render 'books/userinfo', user: @user %>
<% @books.each do |book| %>
  <div>
<p><%= image_tag book.user.get_profile_image(100,100) %></p>
    <h2>Title</h2>
    <p><%= link_to book.title, book_path(book.id) %></p>
    <h2>Opinion</h2>
    <p><%= book.body %></p>
  </div>
<% end %>